*.wav filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*Ultra_Dynamic_Sky. filter=lfs diff=lfs merge=lfs -text
UDS_* filter=lfs diff=lfs merge=lfs -text
*/UltraDynamicSky/* filter=lfs diff=lfs merge=lfs -text
UltraDynamicSky* filter=lfs diff=lfs merge=lfs -text
*.uasset filter=lfs diff=lfs merge=lfs -text
